<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
 <test name="binding.model"   >
    <packages>
      <package name="ch.miranet.td4j.binding.model" />
   </packages>
 </test>

  <test name="model"   >
    <packages>
      <package name="ch.miranet.td4j.model.observable" />
   </packages>
 </test>
 <test name="reflect"   >
    <packages>
      <package name="ch.miranet.td4j.reflect" />
   </packages>
 </test>

</suite>